
<div class="content">
  <%= count = 0 %>
  
  <div class="housekeeper_photo_one"><p>photo one</p></div>
  <div class="housekeeper_photo_two"><p>photo two</p></div>
  <div class="housekeeper_photo_three"><p>photo two</p></div>
  <div class="housekeeper_description">
    <% @housekeepers.each do |housekeeper| %>
        <%= render housekeeper %>
        <p><%= link_to "Show this housekeeper", housekeeper %></p>
    <% end %>
  </div>  
  <div class="housekeeper_avatar">
 
</div>

<!--
<h1>Housekeepers</h1>

<div id="housekeepers">
  <% @housekeepers.each do |housekeeper| %>
    <%= render housekeeper %>
    <p>
      <%= link_to "Show this housekeeper", housekeeper %>
    </p>
  <% end %>
</div>

<%= link_to "New housekeeper", new_housekeeper_path %>
-->