<div id="<%= dom_id booking %>">
  <p>
    <strong>Full name:</strong>
    <%= booking.full_name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= booking.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= booking.end_date %>
  </p>

  <p>
    <strong>Confirmed:</strong>
    <%= booking.confirmed %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= booking.price %>
  </p>

  <p>
    <strong>Pet description:</strong>
    <%= booking.pet_description %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= booking.review %>
  </p>

  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Housekeeper:</strong>
    <%= booking.housekeeper_id %>
  </p>

</div>
