<!DOCTYPE html>
<html>
  <head>
    <title>Firulandia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    
    <%= render 'shared/home_navbar' %>
  </head>

  <body>
    <% if notice %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Firulais say!</strong> error_messages.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Firulais is worried!</strong> <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <p class="alert alert-danger"></p>
    <% end %>
    <%= yield %>
  </body>
</html>
